<h4 class="ui center aligned medium icon header">
  <i class="circular red coffee icon"></i>
  Coffee Chat Chatrooms
</h4>

<%= will_paginate @chatrooms, renderer: WillPaginateSemanticUi::ActionView::Renderer %>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <table class="ui celled table">
        <thead>
          <tr><th>Topic</th>
              <th>Messages</th></tr>
        </thead>
        <tbody>
          <% @chatrooms.each do |chatroom| %>
          <tr>
            <td data-label="Username"><%= link_to chatroom.topic, chatroom_path(chatroom) %></td>
            <td data-label="Messages"><%= chatroom.messages.count %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
</div>
</div>




  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
      <div class="ui inverted vertical menu">
        <%= link_to "Home", root_path, class: "item" %>
        <div class="item active">
          Chatrooms
          </div
        <div class=" active item">
             <%= link_to "Friends", users_path, class: "item" %>
          </div>
        </div>
      </div>
   </div>
  </div>
