<%= link_to '<i class="circular red coffee icon large inverted"></i>'.html_safe, root_path %>
<%= link_to "Chatrooms", chatrooms_path, class: "item" %>
  
  <%= link_to "Friends", users_path, class: "item" %>

  <div class="right menu">
  <% if logged_in? %>
    <div class="item">
      <%= link_to "Log out", logout_path, method: :delete, class: "ui red button" %>
    </div>
    <% else %>
    <%= link_to "Sign up/Login", login_path, class: "ui red button" %>
  <% end %>
</div>
